body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: green;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.about-me,
.previous-work,
.what-i-like {
    padding: 20px;
}

.about-me h2,
.previous-work h2,
.what-i-like h2 {
    margin-bottom: 10px;
}

.about-me strong {
    font-weight: bold;
}

.profile-picture {
    width: 20px;
    height: auto; 
    max-height: 20px; 
    border-radius: 20%;
    display: block;
    margin: 10px auto;
}






